p Вас пригласили в OctoShell в проект #{@project.name}
p Для начала работы вам необходимо:
p = link_to 'Зарегистроваться', new_user_url
p = link_to 'Создать и прислать поручительство', new_surety_url
p = link_to 'Заполнить информацию о месте работы', new_membership_url
p = link_to 'Запросить доступ к проекту', new_account_url
