p Были запрошены инструкции по восстановлению пароля аккаунта Octoshell
p
 | Для смены пароля проследуйте по ссылке 
 = link_to 'Сменить пароль', change_password_url(token: @user.reset_password_token)