- title @user.full_name

h2 Поручительства

= render partial: 'sureties/table', locals: { sureties: @user.sureties }

h2 Места работы

= render partial: 'memberships/table', locals: { memberships: @user.memberships }

h2 Проекты

= render partial: 'projects/table', locals: { projects: @user.projects }

h2 Доступы к проектам

= render partial: 'accounts/table', locals: { accounts: @user.accounts }

h2 Заявки

= render partial: 'requests/table', locals: { requests: @user.requests }

h2 Публичные ключи

= render partial: 'credentials/table', locals: { credentials: @user.credentials }

