= submenu_item :'admin/users', (link_to t('.users', default: 'Users'), admin_users_path), maynot?(:manage, :users)
= submenu_item :'admin/reports', (link_to t('.reports', default: 'Reports'), admin_reports_path), maynot?(:manage, :reports)
= submenu_item :'admin/sureties', (link_to "#{t('.sureties', default: 'Sureties')} (#{Surety.with_state(:generated).count})", admin_sureties_path), maynot?(:manage, :sureties)
= submenu_item :'admin/requests', (link_to "#{t('.requests', default: 'Requests')} (#{Request.with_state(:pending).count})", admin_requests_path), maynot?(:manage, :requests)
= submenu_item :'admin/projects', (link_to t('.projects', default: 'Projects'), admin_projects_path, class: 'js-menu-projects'), maynot?(:manage, :projects)
= submenu_item :'admin/tickets', (link_to t('.tickets', default: 'Tickets', count: Ticket.with_state(:active).count), admin_tickets_path), maynot?(:manage, :tickets)
= submenu_item :'admin/faults', (link_to t('.faults', default: 'Проблемы'), admin_faults_path), maynot?(:manage, :tickets)
= submenu_item :'admin/consoles', (link_to 'Консоль', admin_console_path), maynot?(:access, :console)
= submenu_item :'admin/clusters', (link_to t('.clusters', default: 'Clusters'), admin_clusters_path), maynot?(:manage, :clusters)
= submenu_item :'admin/organizations', (link_to t('.organizations', default: 'Organizations'), admin_organizations_path), maynot?(:manage, :organizations)
= submenu_item :'admin/organization_kinds', (link_to t('.organization_kinds', default: 'Organization Kinds'), admin_organization_kinds_path), maynot?(:manage, :organization_kinds)
= submenu_item :'admin/critical_technologies', (link_to t('.critical_technologies', default: 'Critical Technologies'), admin_critical_technologies_path), maynot?(:manage, :critical_technologies)
= submenu_item :'admin/direction_of_sciences', (link_to t('.direction_of_sciences', default: 'Direction of Science'), admin_direction_of_sciences_path), maynot?(:manage, :direction_of_sciences)
= submenu_item :'admin/research_areas', (link_to "Области исследований", admin_research_areas_path), maynot?(:manage, :research_areas)
= submenu_item :'admin/position_names', (link_to t('.position_names', default: 'Position Names'), admin_position_names_path), maynot?(:manage, :position_names)
= submenu_item :'admin/extends', (link_to t('.extends', default: 'Extends'), admin_extends_path), maynot?(:manage, :extends)
= submenu_item :'admin/images', (link_to t('.images', default: 'Images'), admin_images_path), maynot?(:manage, :images)
= submenu_item :'admin/import', (link_to t('.import', default: 'Import'), admin_import_items_path), maynot?(:manage, :import_items)
= submenu_item :'admin/project_prefixes', (link_to t('.project_prefixes', default: 'Project Prefixes'), admin_project_prefixes_path), maynot?(:manage, :project_prefixes)
= submenu_item :'admin/groups', (link_to "Группы и права", admin_groups_path), maynot?(:manage, :groups)
= submenu_item :'admin/pages', (link_to t('.pages', default: 'Pages'), admin_pages_path), maynot?(:manage, :pages)
= submenu_item :'admin/sessions', (link_to "Перерегистрации", admin_sessions_path), maynot?(:manage, :sessions)
= submenu_item :'admin/cohortes', (link_to "Когорты", admin_cohortes_path)
= submenu_item :'admin/notifications', (link_to "Рассылка", admin_notifications_path), maynot?(:manage, :notifications)
= submenu_item :'admin/notices', (link_to "Объявления", admin_notices_path), maynot?(:manage, :notices)
= submenu_item :'admin/settings', (link_to "Системные настройки", admin_settings_path), maynot?(:manage, :settings)


li class="dropdown"
  = link_to '#', 'data-toggle' => 'dropdown' do
    = t('.more', default: 'More')
    b class="caret"
  ul class="dropdown-menu"
