= submenu_item :projects, (link_to t('.projects'), projects_path)
= submenu_item :requests, (link_to t('.requests'), requests_path)
= submenu_item :tickets, (link_to t('.tickets'), tickets_path)
= submenu_item :pages, (link_to t('.pages'), pages_path)
= submenu_item :clusters, (link_to t('.clusters'), clusters_path)
= submenu_item :profiles, (link_to t('.profile'), profile_path)
