= submenu_item :credentials, (link_to 'Мои публичные ключи', credentials_path)
= submenu_item :memberships, (link_to 'Мои места работы', memberships_path)
= submenu_item :sureties, (link_to 'Мои поручительства', sureties_path)
