= submenu_item :credentials, (link_to 'Публичные ключи', credentials_path)
= submenu_item :memberships, (link_to 'Места работы', memberships_path)
= submenu_item :sureties, (link_to 'Поручительства', sureties_path)
