li class="#{active_menu?(:dashboard)}" = link_to t('.dashboard', default: 'Dashboard'), projects_path
- if may? :access, :admin
  li class="#{active_menu?(:admin)}" = link_to t('.admin', default: 'Admin'), admin_users_path
li class="#{active_menu?(:notifications)}" = link_to t('.notifications', default: "Notifications (#{current_user.notifications_count})"), notifications_path
