li class="#{active_menu?(:dashboard)}" = link_to 'Рабочий кабинет', projects_path
- if may? :access, :admin
  li class="#{active_menu?(:admin)}" = link_to 'Кабинет Администратора', admin_users_path
li class="#{active_menu?(:notifications)}" = link_to "Оповещения (#{current_user.notifications_count})", notifications_path
