- title 'Заявки'

div class="link-actions"
  = link_to 'Новая заявка', new_request_path, class: 'btn'

= safe_paginate @requests
= render partial: 'requests/table', locals: { requests: @requests }
= safe_paginate @requests
