- title t('.title', default: 'Request')

div class="well"
  = link_to t('.new', default: 'Request'), new_request_path, class: 'btn'

= safe_paginate @requests
= render partial: 'requests/table', locals: { requests: @requests }
= safe_paginate @requests
