- title 'Заявки'

div class="link-actions"
  = link_to 'Новая заявка', new_ticket_path, class: 'btn'

= safe_paginate @tickets
= render partial: 'table', locals: { tickets: @tickets }
= safe_paginate @tickets
