div class="link-actions"
  = link_to 'Новый проект', new_project_path, class: "btn #{disabled(can? :create, :projects)}"

- if cannot? :create, :projects
  = render partial: 'shared/steps', locals: { steps: current_user.project_steps, title: 'У вас нет доступа для создания проекта. Чтобы его получить вам нужно:' }
