p Уважаемый(ая) #{@user_full_name}!

p Ваш проект #{link_to @project_title, project_url(@project_id)} отмечен как неиспользуемый и будет удалён 17.03.2014. Связанные с ним логины также будут закрыты.

p Возможно, Вы ранее уже согласовывали с администраторами удаление этого проекта. Если нет, то просим убедиться, что при закрытии проекта не пострадают нужные Вам данные.

p Если проект Вами используется, обязательно отправьте через сайт users.parallel.ru заявку, в которой сообщите о том, что проект нужно сохранить. Если нет - не предпринимайте никаких действий и проект будет удалён автоматически.

p Не нужно отвечать на это письмо.

= render 'signature'
