p style="padding-bottom: 16px;"
  | Уважаемые пользователи суперкомпьютера "Ломоносов"!

p В связи с аварией на электрической подстанции во втором учебном корпусе МГУ, выделенные расчёты приостановлены.
p После устранения аварии мы продолжим проведение выделенного счёта и по его завершении откроем доступ для всех пользователей.
p О точном сроке открытия общего доступа мы сообщим дополнительно.

= render "signature"
