= render 'header'

p = "Проект #{@project.title} заблокирован."

p = "Руководитель проекта: #{@project.user.full_name}."

p = "Заблокированные логины: #{@project.accounts.active.pluck(:username).to_sentence}."

= render 'signature'
