- title 'Статистика по отчетам'

javascript:
  window.chartEvents = {
    load: function(chart){
      $(chart.currentTarget.renderTo).addClass('tab-pane')
    }
  }

h2 Число организаций по типам

ul class="nav nav-tabs"
  li class="active" = link_to 'Таблица', '#organizations_count_by_kind_table', data: { toggle: 'tab' }
  li = link_to 'Диаграмма', '#organizations_count_by_kind_bar', data: { toggle: 'tab' }
  li = link_to 'Пирог', '#organizations_count_by_kind_pie', data: { toggle: 'tab' }

div class="tab-content"
  div class="tab-pane active" id="organizations_count_by_kind_table"
    table class="table table-bordered"
      - @stats.organizations_count_by_kind.each do |title, value|
        tr
          th class="span4" = title
          td = value
  div id="organizations_count_by_kind_bar"
  div id="organizations_count_by_kind_pie"

javascript:
  new Highcharts.Chart({
    chart: {
      renderTo: 'organizations_count_by_kind_bar',
      type: 'column',
      events: window.chartEvents
    },
    title: {
      text: 'Число организаций по типам'
    },
    yAxis: {
      title: {
        text: 'Количество'
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true
        }
      }
    },
    title: 'Число организаций по типам',
    series: #{@stats.organizations_count_by_kind.to_chart(:column).html_safe}
  });
  
  new Highcharts.Chart({
    chart: {
      renderTo: 'organizations_count_by_kind_pie',
      type: 'column',
      events: window.chartEvents
    },
    title: {
      text: 'Число организаций по типам'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          color: '#000000',
          connectorColor: '#000000',
          formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
          }
        }
      }
    },
    series: #{@stats.organizations_count_by_kind.to_chart(:pie, name: 'Количество').html_safe}
  })

h2 Число проектов по типам организаций

div class="tab-content"
  div class="tab-pane active" id="organizations_count_by_kind_table"
    table class="table table-bordered"
      - @stats.organizations_count_by_kind.each do |title, value|
        tr
          th class="span4" = title
          td = value
  div id="organizations_count_by_kind_bar"
  div id="organizations_count_by_kind_pie"
