h2 Отчет

= render partial: 'admin/versions/list', locals: { versions: @report.versions, model: Report }

h2 Личная информация

= render partial: 'admin/versions/list', locals: { versions: @report.personal_data.versions, model: Report::PersonalData }

h2 Организация

- @report.organizations.each do |org|
  = render partial: 'admin/versions/list', locals: { versions: org.versions, model: Report::Organization }

h2 Проекты

- @report.projects.each do |project|
  h3 Проект #{project.id}
  = render partial: 'admin/versions/list', locals: { versions: project.versions, model: Report::Project }
