/*
 *= require bootstrap
 */

body > * {
  display: none;
}

#BrowserPrintDefaults {
  display:none;
}

#print-me {
  display: block;
  margin: 0 auto;
  width: 90%;
}

#surety {
  width: 600px;
  padding-top: 120px;
}
#surety .right {
  text-align: right;
}
#surety .center {
  text-align: center;
}

#surety > div {
  padding: 30px 0;
}

#surety dl {
  padding-left: 40px;
}
#surety dt {
  font-weight: normal;
  float: left;
  margin-right: 10px;
}
#surety dd {
  margin-left: 40px;
  ul {
    margin: 0;
    clear: both;
  }
}
#surety ul {
  list-style: none;
  margin-left: 40px;
}
#surety .relative {
  position: relative;
}
#surety .stamp {
  position: absolute;
  right: 0;
  text-align: center;
  padding-top: 1em;
}
