- title t('.project_prefixes')

div class="link-actions"
  = link_to t('.new_project_prefix'), new_admin_project_prefix_path, class: 'btn'

= render partial: 'table', locals: { project_prefixes: @project_prefixes }
