- title 'Доступы к проектам'

div class="link-actions"
  = link_to 'Новый доступ', new_account_path, class: "btn"

h3 Ожидают подтверждения

= render partial: 'table', locals: { accounts: @accounts.pending }

h3 Активные

= render partial: 'table', locals: { accounts: @accounts.active }

h3 Отказанные

= render partial: 'table', locals: { accounts: @accounts.declined }

h3 Закрытые

= render partial: 'table', locals: { accounts: @accounts.closed }
